body {
font-family: Helvetica;
}

#banner-img {
    background-image: url(images/friends_banner.png);

    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    text-align: center;
    font-style: regular;
    padding: 20px;
}

.percent {
    text-align: center;
    font-style: light;
    font-size: 42px;
}


span {
    color: purple;
    font-size: 48px;
    font-style: light;

}